<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gkail.tools"
          android:installLocation="internalOnly">

    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true"/>

    <uses-permission android:name="android.intent.action.BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="com.android.providers.telephony.SmsProvider"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.Manifest.permission.REBOOT"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取读取通讯录记录的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <uses-permission android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.HARDWARE_TEST"/>

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".device.DeviceInfoActivity"/>
        <activity android:name=".lock.LockActivity"/>
        <activity android:name=".sms.SMSActivatity"/>
        <activity android:name=".led.LEDActivity"/>
        <activity android:name=".customview.ViewActivity"/>
        <activity android:name=".call.CallActivity"/>
        <activity android:name=".wallpaper.ui.SetWallpaperActivity"/>
        <activity android:name=".wifi.NetWorkActivity"/>
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".sensor.SensorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".recyclerview.RecyclerViewActivity"/>
        <activity android:name=".activity.GetHtmlActivity"/>
        <activity android:name=".RxjavaTestActivity"/>

        <receiver android:name=".lock.AdminManageReceiver">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".autostart.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <!-- 重启 -->
                <!--关机-->
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <!-- 解锁 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <!-- 亮屏 -->
                <action android:name="android.intent.action.SCREEN_ON"/>
                <!-- 熄屏 -->
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <!-- 网络 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <!-- USB -->
                <action android:name="android.hardware.usb.action.USB_STATE"/>

                <action android:name="android.intent.action.BATTERY_CHANGED"/>
                <action android:name="android.intent.action.PHONE_STATE"/>

                <action android:name="android.intent.action.DATA_STATE"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
                <action
                    android:name="android.intent.action.TEST_GKP"/>
                <action
                    android:name="android.intent.action.DATA_ACTIVITY"/>
                <action
                    android:name="android.intent.action.BATTERY_CHANGED"/>
                <action
                    android:name="android.intent.action.DATE_CHANGED"/>
                <action
                    android:name="android.server.checkin.FOTA_CANCEL"/>
                <action
                    android:name="android.intent.action.MEDIABUTTON"/>
                <action
                    android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action
                    android:name="android.intent.action.MEDIA_SCANNER_STARTED"/>
                <action
                    android:name="android.intent.action.MEDIA_SCANNER_FINISHED"/>
                <action
                    android:name="android.intent.action.TIME_SET"/>
                <action
                    android:name="android.intent.action.TIME_TICK"/>
                <action
                    android:name="android.intent.action.PACKAGE_ADDED"/>
                <action
                    android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action
                    android:name="android.intent.action.PHONE_STATE"/>
                <action
                    android:name="android.intent.action.SERVICE_STATE"/>
                <action
                    android:name="android.intent.action.SIG_STR"/>
                <action
                    android:name="android.intent.category.ALTERNATIVE"/>
                <action
                    android:name="android.intent.action.SETTINGS"/>
                <action
                    android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action
                    android:name="android.net.wifi.STATE_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service android:name=".call.EndCallService"/>
        <service
            android:name=".accessibility.MyAccessibilityService"
            android:exported="true"
            android:label="超强辅助操作服务"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/phone_accessibility"/>
        </service>
        <!-- 配置动态壁纸Service - - - - - - - - - - - - - - -->
        <service
            android:name=".wallpaper.service.LiveWallpaperService"
            android:enabled="true"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper"/>
        </service>
        <!-- 配置视屏壁纸Service - - - - - - - - - - - - - - -->
        <service
            android:name=".wallpaper.service.VideoLiveWallpaperService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper"/>
        </service>
        <!-- 配置相机壁纸Service - - - - - - - - - - - - - - - -->
        <service
            android:name=".wallpaper.service.CameraLiveWallpaperService"
            android:label="app"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper"/>
        </service>
        <service android:name=".service.ScreenService"/>
    </application>

</manifest>